<!--
   PROGRAM:   Safe Beach About Page
   AUTHOR:    Wenzhi He
   LOGON ID:  No Authentication
   DUE DATE:  07-May-2017

   FUNCTION:  Establishing the about page of Safe Beach website.
              1. Telling users the information about Eccentric Analysts.

   INPUT:     None

   OUTPUT:    None

   NOTES:     this page is using layout html which include a navigation bar and footer.
-->

<!--
    The title of the page
-->
@{
    ViewBag.Title = "About Us";
}
<h1 class="text-center" style="font-size:50px; font-family:Great Vibes;">Eccentric Analysts</h1>

<div class="container text-center" style="font-size:18px; font-family:Open Sans;">
    <p>
        We are a multicultural team of students from Monash University, bringing forth our very first website.<br />
        If you have any suggestions or questions, we’d love to hear from you.
    </p>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/img/About1.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"><br />
            <b>Evan Wang</b><br/>
            Email: ywan452@student.monash.edu<br /><br />
        </div>
        <div class="col-md-6">
            <img src="~/Content/img/About2.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"><br />
            <b>Gagan Bhutani</b><br/>
            Email: gsbhu2@student.monash.edu<br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/img/About3.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"><br />
            <b>Rebecca Wang</b><br />
            Email: rwan103@student.monash.edu<br /><br />
        </div>
        <div class="col-md-6">
            <img src="~/Content/img/About4.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"><br />
            <b>Wayne He</b><br />
            Email: whe47@student.monash.edu<br /><br />
        </div>
    </div>
</div>

